<footer class="footer">
  <small>
    Trang@copyright. All right reversed.
    <a href="">Trang Vu</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
